@media(max-width:767px){
    .hsly-container {
        width: 100%;
        margin: auto;
    }
    .hsly-div-banner{
        flex-flow: column;
    }
    .search-input{
        margin-bottom: 15px;
    }
    .search-input input{
        width: 80vw;
    }
    section{
        padding-left: 15px;
        padding-right: 15px;
    }
    .hsly-grid-2, .hsly-grid-3, .hsly-grid-4{
        grid-template-columns: repeat(1, 1fr);
    }
    .hsly-topic-list li a {
        padding: 5px 15px;
        margin-right: 3px;
        margin-bottom: 10px;
    }
    .hsly-grid-2 .hsly-card, .hsly-single-card{
        flex-flow: column;
    }
    .hsly-grid-2 .hsly-card img, .hsly-single-card img{
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }
    .search-filter-container{
        flex-flow: column;
    }
    .hsly-article-left{
        flex-flow: column;
    }
    .hsly-article-right{
        flex-flow: column-reverse;
    }
    .hsly-article-right  .hsly-video-detail{
        margin-top: 30px;
    }
    .hsly-article-left .hsly-left-part, .hsly-article-right .hsly-left-part{
        width: 100%;
    }
    .hsly-article-left .hsly-right-part, .hsly-article-right .hsly-right-part{
        width: 100%;
    }
    .hsly-video-detail{
        margin-bottom: 30px;
    }
    .hsly-video-popup.hsly-form-open .hsly-backdrop{
        display: none;
    }
    .hsly-backdrop{
        z-index: 9999;
    }
    .hsly-form{
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 999999;
    }
    .hsly-mobile-none{
        display: none !important;
    }
}
@media(min-width:768px){
    .hsly-desktop-none{
        display: none !important;
    }
}