/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root {
    --hsly-font-primary: 'Plus Jakarta Sans', sans-serif;
    --hsly-font-secondary: 'Inter', sans-serif;

    --hsly-text-primary: #101828;
    --hsly-text-secondary: #475467;
    --hsly-text-light: #98A2B3;

    --hsly-btn-bg-primary: #101828;
    --hsly-btn-text-primary: #FCFCFD;
    --hsly-btn-border-primary: #101828;
    --hsly-btn-bg-secondary: #F2F4F7;
    --hsly-btn-text-secondary: #101828;
    --hsly-btn-border-secondary: #D0D5DD;

    --hsly-tag-color: #282810;
    --hsly-tag-background: #F2F4F7;
    --hsly-tag-hover-background: #FFFFFF;
    --hsly-tag-hover-color: #282810;
    --hsly-tag-hover-bordercolor: #D0D5DD;

    /* plyr.css */
    --plyr-color-main: #FCFCFD;
    --plyr-badge-text-color:#FCFCFD;
    --plyr-video-controls-background: #101828;
    --plyr-video-control-background-hover: #24324e;
  
}


.hsly-font-primary {
    font-family: var(--hsly-font-primary);
}

.hsly-font-secondary {
    font-family: var(--hsly-font-secondary);
}

.hsly-text-primary {
    color: var(--hsly-text-primary);
}

.hsly-text-secondary {
    color: var(--hsly-text-secondary);
}

.hsly-text-light {
    color: var(--hsly-text-light);
}

.hsly-fw-300 {
    font-weight: 300;
}

.hsly-fw-400 {
    font-weight: 400;
}

.hsly-fw-500 {
    font-weight: 500;
}

.hsly-fw-600 {
    font-weight: 600;
}

.hsly-fw-700 {
    font-weight: 700;
}

.hsly-fw-800 {
    font-weight: 800;
}

.hsly-font-12 {
    font-size: 12px;
}

.hsly-font-13 {
    font-size: 13px;
}

.hsly-font-14 {
    font-size: 14px;
}

.hsly-font-15 {
    font-size: 15px;
}

.hsly-font-16 {
    font-size: 16px;
}

.hsly-font-17 {
    font-size: 17px;
}

.hsly-font-18 {
    font-size: 18px;
}

.hsly-font-19 {
    font-size: 19px;
}

.hsly-font-20 {
    font-size: 20px;
}

.hsly-font-21 {
    font-size: 21px;
}

.hsly-font-22 {
    font-size: 22px;
}

.hsly-font-23 {
    font-size: 23px;
}

.hsly-font-24 {
    font-size: 24px;
}

.hsly-font-25 {
    font-size: 25px;
}

.hsly-font-26 {
    font-size: 26px;
}

.hsly-font-27 {
    font-size: 27px;
}

.hsly-font-28 {
    font-size: 28px;
}

.hsly-font-29 {
    font-size: 29px;
}

.hsly-font-30 {
    font-size: 30px;
}

.hsly-font-31 {
    font-size: 31px;
}

.hsly-font-32 {
    font-size: 32px;
}

/* spacing */
.hsly-mb-5 {
    margin-bottom: 5px;
}
.hsly-mb-10 {
    margin-bottom: 10px;
}

.hsly-mb-20 {
    margin-bottom: 20px;
}
.hsly-mb-40{
    margin-bottom: 40px;
}
.hsly-mb-50 {
    margin-bottom: 50px;
}
.hsly-mt-20 {
    margin-top: 20px;
}
.hsly-mt-30 {
    margin-top: 30px;
}

.hsly-mt-40 {
    margin-top: 40px;
}
.hsly-mt-50 {
    margin-top: 50px;
}
.hsly-mt-60 {
    margin-top: 60px;
}
.hsly-mr-10{
    margin-right: 10px;
}
.hsly-my-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.hsly-my-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.hsly-p-20{
    padding: 20px;
}
.hsly-pt-60 {
    padding-top: 60px;
}
.hsly-pt-70 {
    padding-top: 70px;
}
.hsly-pb-70 {
    padding-bottom: 70px;
}
.hsly-pb-80 {
    padding-bottom: 80px;
}
.hsly-py-40{
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.hsly-py-50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}
.hsly-py-60 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}
.hsly-py-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}
.hsly-py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.hsly-py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.hsly-px-100{
    padding-left: 100px;
    padding-right: 100px;
}
/* header style */
.hsly-header-xxl {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

.hsly-header-xl {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}

.hsly-header-lg {
    font-weight: 800;
    font-size: 30px;
    line-height: 43px;
}

.hsly-header-md {
    font-weight: 700;
    font-size: 17px;
    line-height: 29px;
}

.hsly-header-sm {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.hsly-header-xs {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}

/* subtext style */
.hsly-text-lg {
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
}

.hsly-text-md {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.hsly-text-sm {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.hsly-text-xs {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
}

/* button size */
.hsly-btn{
    border: none;
    cursor: pointer;
}
.hsly-btn-md,
.hsly-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 18px;
}

.hsly-btn-lg {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    padding: 15px 28px;
}

.hsly-btn-sm {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

/* button type */
.hsly-btn-circle {
    border-radius: 45px;
}

.hsly-btn-rounded {
    border-radius: 5px;
}

/* common */
.hsly-btn {
    text-decoration: none;
    display: inline-block;
}

.hsly-btn-primary {
    background: var(--hsly-btn-bg-primary);
    color: var(--hsly-btn-text-primary);
}

.hsly-btn-secondary {
    background: var(--hsly-btn-bg-secondary);
    color: var(--hsly-btn-text-secondary);
}

.hsly-btn-primary.hsly-btn-bordered {
    border: 1px solid var(--hsly-btn-border-primary);
}

.hsly-btn-secondary.hsly-btn-bordered {
    border: 1px solid var(--hsly-btn-border-secondary);
}

.hsly-btn-icon {}

.hsly-btn-icon.icon-right i {
    margin-left: 10px;
}

.hsly-btn-icon.icon-left i {
    margin-right: 10px;
}

.hsly-btn-icon.icon-only i {
    margin: 0;
}

.hsly-btn-icon.icon-only {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    line-height: 28px;
}

/* grey-classes */
.hsly-bg-grey-25 {
    background: #FCFCFD;
}

.hsly-bg-grey-50 {
    background: #F9FAFB;
}

.hsly-bg-grey-100 {
    background: #F2F4F7 !important;
}

.hsly-bg-grey-200 {
    background: #E4E7EC;
}

.hsly-bg-grey-300 {
    background: #D0D5DD;
}

.hsly-bg-grey-400 {
    background: #98A2B3;
}

.hsly-bg-grey-500 {
    background: #667085;
}

.hsly-bg-grey-600 {
    background: #475467;
}

.hsly-bg-grey-700 {
    background: #344054;
}

.hsly-bg-grey-800 {
    background: #1D2939;
}

.hsly-bg-grey-900 {
    background: #101828;
}
.hsly-border-right{
    border-right: 1px solid #EEEEEE;
}


.hsly-width-40{
    width: 40%;
}
.hsly-width-50{
    width: 50%;
}
.hsly-width-60{
    width: 60%;
}
.hsly-width-70{
    width: 70%;
}
.hsly-height-75{
    height: 75px;
    object-fit: contain;
}
.hsly-height-100{
    height: 100%;
}
.hsly-card {
    border-radius: 20px;
    padding: 20px;
    background: #fff;
    transition: 0.4s all;
}
.hsly-card-bordered {
    border: 1px solid #D0D5DD;
}
.hsly-card-sm{
    border-radius: 10px;
    padding: 10px;
}
.hsly-hover-shadow:hover{
    box-shadow: 0px 4px 40px rgba(45, 52, 66, 0.1);
}
.hsly-hover-bordered:hover{
    border: 1px solid #101528;
}
.hsly-hover-bg-blue:hover{
    background: #F2F4F7;
}

.hsly-img-rounded-10{
    border-radius: 10px;
}


.plyr--video .plyr__controls{
    padding-top: 10px;
}


.hsly-text-center {
    text-align: center;
}

.hsly-text-right {
    text-align: right;
}

.hsly-text-left {
    text-align: left;
}